body {
  font-family: Arial, Helvetica, sans-serif;
}

form {
  padding: 5px;
}

h1 {
  font-size: 48px;
  color: black;
  font-weight: bold;
  margin-top: 10px;
}

img {
  width: 100px;
  height: 100px;
}

li {
  list-style: none;
}

li:first-letter {
  text-transform: capitalize;
}

humidity-wind {
  padding-top: 10px;
}

footer {
  text-align: center;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 10px;
  padding: 20px;
}

.btn {
  margin-left: 10px;
}

.current-day {
  padding: 0;
}
.daily-temperature {
  color: black;
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 55px;
  font-weight: 400;
  height: 61px;
  line-height: 60px;
  vertical-align: -10px;
  width: 48px;
}

.units {
  color: black;
  font-size: 16px;
  font-weight: 400;
  height: 24px;
  line-height: 24px;
  padding-top: 10px;
  padding-left: 6px;
  vertical-align: 15px;
  width: 42.125px;
}

.units .active {
  color: black;
  cursor: default;
}

.units .active:hover {
  text-decoration: none;
}
